@namespace NbpExchangeApp.Components.Pages

@page "/IndividualCurrency"

@using NbpExchangeApp.BusinessModels
@using NbpExchangeApp.Services
@using NbpExchangeApp.Components
@using NbpExchangeApp.Components.Shared

@inject NbpExchangeRatesService NbpExchangeRatesService

@rendermode InteractiveServer

<h2>Individual Currency</h2>

<br />

<ExchangeTablePicker selectedTable="@selectedTable" OnValueChanged="HandleExchangeTableChange"/>

<CurrencyPicker currencyCode="@currencyCode" OnValueChanged="HandleCurrencyChange"/>

<DateRangePicker startDate="@startDate" endDate="@endDate" OnValueChanged="HandleDateRangeChanged"/>

<button type="button" class="btn btn-primary" @onclick="FetchCurrencyRates" disabled="@exchangeCurrency">Fetch Currency Rates</button>

<CurrencyChart ExchangeCurrency="@exchangeCurrency" ErrorMessage="@errorMessage" IsDataLoading="@isDataLoading"/>

@code {
    private string currencyCode = "USD"; // Default value
    private string selectedTable = "A"; // Default value
    private ExchangeCurrency? exchangeCurrency;
    private string? errorMessage;
    private bool isDataLoading = false;
    private DateTime startDate { get; set; } = DateTime.Now;
    private DateTime endDate { get; set; } = DateTime.Now;

    private void HandleExchangeTableChange(string value)
    {
        selectedTable = value;
        ResetValuesDependOnSelectedValues();
    }

    private void HandleCurrencyChange(string value)
    {
        currencyCode = value;
        ResetValuesDependOnSelectedValues();
    }

    private void HandleDateRangeChanged(DateRangeSelection dateRangeSelection)
    {
        startDate = dateRangeSelection.StartDate;
        endDate = dateRangeSelection.EndDate;
        ResetValuesDependOnSelectedValues();
    }

    private void ResetValuesDependOnSelectedValues()
    {
        exchangeCurrency = null; // Reset exchangeCurrency when selectedTable changes
        errorMessage = null; // Reset errorMessage when selectedTable changes
    }

    async Task FetchCurrencyRates()
    {
        // Display spinner.
        isDataLoading = true;
        // Fetch exchange rates.
        (exchangeCurrency, errorMessage) = await NbpExchangeRatesService.GetExchangeCurrencyForTableAndPeriodAsync(
            currencyCode,
            selectedTable,
            startDate.ToString("yyyy-MM-dd"),
            endDate.ToString("yyyy-MM-dd")
        ).ConfigureAwait(false);
        // Hide spinner.
        isDataLoading = false;
    }
}